<div
    class="container p-4 shadow-sm rounded-3 bg-white mt-4">
    <h2 class="text-mainColor my-4">Register Now</h2>
    <form [formGroup]="registerFrom" (ngSubmit)="submitForm()">
        <div class="mb-3">
            <input type="text" id="name" formControlName="name"
                class="form-control"
                placeholder="Type your name..." required />
            <app-validation-messages
                [control]="registerFrom.get('name')!" />
        </div>
        <div class="mb-3">

            <input type="email" id="email" formControlName="email"
                class="form-control"
                placeholder="Type your email..." required />
            <app-validation-messages
                [control]="registerFrom.get('email')!" />

        </div>
        <div class="mb-3">
            <input type="password" id="password" formControlName="password"
                class="form-control"
                placeholder="Type Your Password" required />
            <app-validation-messages
                [control]="registerFrom.get('password')!" />
        </div>
        <div class="mb-3">
            <input type="password" id="confirm_password"
                formControlName="rePassword"
                class="form-control"
                placeholder="Confirm password" required />
            <app-validation-messages
                [control]="registerFrom" />
        </div>
        <div class="mb-3">
            <input type="date" id="confirm_password"
                formControlName="dateOfBirth"
                class="form-control"
                placeholder="Select Date..." required />
            <app-validation-messages
                [control]="registerFrom.get('dateOfBirth')!" />
        </div>
        <div class="d-flex mb-4 gap-4">
            <div class="d-flex">
                <input id="male" type="radio"
                    formControlName="gender"
                    value="male"
                    name="gender"
                    class="form-check-input">
                <label for="male"
                    class="ms-2">Male</label>
            </div>
            <div class="d-flex">
                <input id="female" type="radio" value="female"
                    formControlName="gender"
                    name="gender"
                    class="form-check-input">
                <label for="female"
                    class="ms-2">Female</label>
            </div>
        </div>
        <button type="submit" [disabled]="isLoading"
            class="btn btn-primary">
            @if(isLoading){
            <div class="spinner-border text-light w-and-h-20px" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            }@else {
            Register
            }
        </button>
    </form>
    @if(responseMessage){
    <div [class]="{
            'alert-success':responseMessage === 'success',
            'alert-danger':responseMessage !== 'success',
        }"
        class="d-flex align-items-center p-3 my-2 rounded-3 alert"
        role="alert">

        <svg class="w-and-h-20px inline me-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg" fill="currentColor"
            viewBox="0 0 20 20">
            <path
                d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
        </svg>

        <div>
            {{responseMessage}}
        </div>
    </div>
    }
</div>
